.managerAddQuestionPage__container {
  padding: 50px;
}

.managerAddQuestionPage__content {
  margin-top: 25px;
  width: 90%;
}

.managerAddQuestionPage__content div{
    margin: 30px 0;
}

.managerAddQuestionPage__content--text {
    width: 100%;
}

.managerAddQuestionPage__content--image {
    max-width: 95%;
}

.managerAddQuestionPage__content--button {
  padding: 5px;
  border-radius: 10px;
  background-color: var(--electon-blue);
  color: var(--white);
  font-weight: 400;
}

.managerAddQuestionPage__content--button2 {
    margin-top: 20px;
}

.managerAddQuestionPage__content--button3 {
    background-color: transparent;
    color: var(--primary);
    font-weight: 600;
    margin-left: 30px;
    font-size: 30px;
}