.managerQuestionsPage__container {
    display: flex;
    padding: 20px;
}

.managerQuestionsPage__content {
    width: 90%;
    height: fit-content;
    padding: 8px;
}

.managerQuestionsPage__content--button {
    display: block;
    width: 20%;
    margin: 20px auto;
    background-color: rgb(68 177 49);
    color: white;
}